Img{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
Button{background-color: blue;
color: aliceblue;
padding: 15px;
border-radius: 10px;
cursor: pointer;
}
.cc{
    width: 254px;
    margin-bottom: 20px;
}
.vv{overflow: auto;
   
}
.title{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}